anytree
esprima
faiss-cpu
gitpython
huggingface_hub
langchain
langchain-core==0.3.34
langchain-community==0.3.16
langchain_huggingface
networkx
python-dotenv
sentence-transformers
streamlit
tree_sitter
tree_sitter_languages
unstructured
watchdog